{% load static %}


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="https://use.typekit.net/unq3pre.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <!-- Local JavaScripts Files -->
    <script src="{% static 'js/sweetalert.js' %}"></script>
    <script src="{% static 'js/jQuery_3_3_1_slim.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/boostrap.js' %}"></script>

    {#    Sweet Alert Javascript#}
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <title>NR Productions</title>
</head>
<body>


{% block content %}{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

{#Sweet Alert Scripts#}


<!-- Optional: include a polyfill for ES6 Promises for IE11 -->


</body>
</html>